.dropdown{
    display: inline-block;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
}

.dropdown input {
    display: none; /* checkbox elrejtve */
}

.dropdown span {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.content {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
}

.content li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}


.dropdown input:checked ~ .content {
    display: block;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;     /* hogy végigérjen felül */
    background: #fff; /* vagy valami szín, hogy ne lógjon át */
    z-index: 1000;    /* a tartalom ne takarja */
    height: 50px;     /* beállítod, mennyi magas a menü */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  
    padding-top: 50px; 
  }
  
  main {
    flex: 1;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  
